<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="main.css">
    <title>Regretsy</title>
  </head>
    <body>
      <header>
        <div class="search">
          <img src="etsy-logo.png">
            <form action="/search" method="get">
            <input type="text" name="q" placeholder="   Search for items or shops">
            <input type="submit" value="Search">
            </form>
        </div>
        <div class="menu">
          <ul class="menu">
            <li class="menu-item">Clothing & Accessories</li>
            <li class="menu-item">Jewelry</li>
            <li class="menu-item">Craft Supplies & Tools</li>
            <li class="menu-item">Weddings</li>
            <li class="menu-item">Entertainment</li>
            <li class="menu-item">Home & Living</li>
            <li class="menu-item">Kid & Baby</li>
            <li class="menu-item">Vintage</li>
          </ul>
        </div>

      </header>
      <div class="container">
      <nav>
          <h4>Show results for:</h4>
            <ul class="left-nav-bar">
              <li class="nav-title">All Categories</li>
                <li class="nav-link"><a href="/">Home & Living</a></li>
                <li class="nav-link"><a href="/">Art & Collectibles</a></li>
                <li class="nav-link"><a href="/">Weddings</a></li>
                <li class="nav-link"><a href="/">Clothing</a></li>
                <li class="nav-link"><a href="/">Paper & Party Supplies</a></li>
                <li class="nav-link"><a href="/">Jewelry</a></li>
                <li class="nav-link"><a href="/">Accessories</a></li>
                <li class="nav-link"><a href="/">Craft Supplies & Tools</a></li>
                <li class="nav-link"><a href="/">Bags & Purses</a></li>
                <li class="nav-link"><a href="/">Bath & Beauty</a></li>
                <li class="nav-link"><a href="/">Shoes</a></li>
                <li class="nav-link"><a href="/">Books, Movies & Music</a></li>
                <li class="nav-link"><a href="/">Electronics & Accessories</a></li>
                <li class="nav-link"><a href="/">Toys & Games</a></li>
                <li class="nav-link"><a href="/">Pet Supplies</a></li>
              </ul>
          </ul>
      </nav>
        <section>
          <div class="image-header">
            <span class="category">
              <a href="/search?q=<%= search_term %>">All Categories</a>
              <span class="strong"> > "<%= search_term %>” </span>
              (<%= results_count.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> Results)
            <span class="sortby">Sort by:
              <select>
                <option value="relevancy" selected>Relevancy</option>
                <option value="recent" >Most Recent</option>
                <option value="highest" >Highest Price</option>
                <option value="lowest" >Lowest Price</option>
              </select></span>
                </span>
          </div>
            <% data.each do |item| %>
            <div class="item">
                    <div class="image"><img src="<%= item["Images"].first["url_170x135"] %>"></div>
                    <div class="title"><%= item["title"] %></div>
                    <div class="image-footer"><span class="shop"><a class="shop" href="<%= item["Shop"]["url"] %>"><%= item["Shop"]["shop_name"] %></a> </span><span class="price"><%= item["price"] %></span></div>
            </div>
            <% end %>
        </section>
    </div>
    </body>
</html>